<!DOCTYPE html>
<html>
<head>
  <title>TimeSurfing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARVpBg_f6VUf6_SwtVXqZ4LKZK1vLqAJM&libraries=places"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC|IM+Fell+Great+Primer+SC|Orbitron|Quintessential|Titillium+Web|Trade+Winds" rel="stylesheet">
  
  <script type="text/javascript">
    window.cloudinaryOptions = {
      cloud_name: '<%= ENV["CLOUD_NAME"] %>',
      upload_preset: '<%= ENV["UPLOAD_PRESET"] %>'
    };
    <% if current_user %>
      window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    <% end %>
  </script>
</head>
<body>

  <%= yield %>

</body>
</html>
